.menu {
    background: fixed none repeat scroll 0 0 #fff;
}

body {
    background-image: url(img/Grupo\ 2.png);
    background-position: center 5%;
}

#boton1,
#boton2,
#boton3 .a {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif, white;
    color: #FFFFFF;
    text-decoration: none;
}

#boton1 {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif, white;
    color: #FFFFFF;
    background: #E2CCA3;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    width: 100px;
    cursor: pointer;
    cursor: hand;
    margin: 16px;
    padding: 0 2% 0 2%;
}

#boton2 {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif, white;
    color: #FFFFFF;
    background: #5485BE;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    width: 100px;
    cursor: pointer;
    cursor: hand;
    margin: 16px;
    padding: 0 2% 0 2%;
}

#boton3 {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif, white;
    color: #FFFFFF;
    background: #DE7684;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    width: 100px;
    cursor: pointer;
    cursor: hand;
    margin: 16px;
    padding: 0 2% 0 2%;
}

#boton1,
#boton2,
#boton3 {
    top: 10%;
    width: 5%;
    margin: 5px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 50px;
    text-align: center;
    line-height: 17px;
}


/*
.grid-layout {
    top: 10%;
    width: 90%;
    margin: 5px auto;
    display: flex;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 50px;
    padding: 5px;
}



.grid-item {
    top: 10%;
    width: 200%;
    height: 50px;
    border: 20px 20px 20px solid #FFFFFF;
    border-radius: 7px;
    background-color: #FFFFFF;
    margin: 16px;
    text-align: center;
    line-height: 17px;
    box-shadow: 2px 2px 1px 1px black;
    padding: 5px;
    cursor: pointer;
    cursor: hand;
}

.grid-layout a {
    text-decoration: none;
    color: #135189;
    font-style: bold;
    font-family: 'gotham', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-item:hover {
    background-color: #AE3336;
    color: white;
}

.grid-layout a:hover {
    color: #ffffff;
}
*/

#titulo1 {
    color: #FFFFFF;
    font-family: 'Gotham', 'Segoe UI', Tahoma;
}

#titulo2 {
    color: black;
    font-family: 'Gotham', 'Segoe UI', Tahoma;
}

#titulo3 {
    color: #FFFFFF;
    font-family: 'Gotham', 'Segoe UI', Tahoma;
    text-align: center;
}

#parrafo {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    display: flex;
    left: 10px;
    right: 150px;
    text-align: left;
    max-width: 30%;
}

#parrafo2 {
    color: #FFFFFF;
    font-family: 'Gotham', 'Segoe UI', Tahoma;
    text-align: center;
    max-width: 30%;
    padding-left: 35%;
}

#acciones {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: #FFFFFF;
    background: gray;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    width: 100px;
    cursor: pointer;
    cursor: hand;
}

#mes {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: #FFFFFF;
    background: #135189;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 1px 1px 1px 1px black;
    height: 40px;
    width: 120px;
    cursor: pointer;
    cursor: hand;
}

.t-container {
    margin: 0 auto;
    padding: 0 2em;
}

.t-tabs,
.t-contents {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    list-style-type: none;
    margin: 16px;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
}

.t-tabs li {
    font-family: 'Gotham', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    padding: 0.5em 0.7em;
    text-decoration: none;
    float: left;
    margin: 16px;
    height: 60px;
    width: 160px;
    text-align: center;
    font-size: 1.1em;
    background: #ffffff;
    border-bottom: 0;
    border-radius: 5px;
    min-width: 40px;
    margin-right: 2px;
    margin-bottom: 0 !important;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px 1px black;
    cursor: pointer;
    cursor: hand;
}

.t-tabs li:hover {
    background-color: #AE3336;
    color: #ffffff;
}

.t-tabs li.selected {
    color: #458ace;
    cursor: default;
    background: #AE3336;
}

.t-contents {
    padding: 0 !important
}

.t-content {
    background-color: #AE3336;
    box-sizing: border-box;
    float: left;
    width: 100%;
    color: #b7b7b7;
    line-height: 1.3em;
    text-align: justify;
    z-index: 1;
    position: relative;
    max-height: 0;
    transition: max-height 0.5s ease 0s;
    overflow: hidden;
}

.t-content.selected {
    max-height: 3000px;
    transition: max-height 1.25s ease 0.5s;
}